@model AuthorDTO
<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a asp-controller="AdminHome" asp-action="Index" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a asp-controller="AdminAccount" asp-action="Logout" class="nav-link">Logout</a>
        </li>

    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <!-- Navbar Search -->
        <li class="nav-item">
            <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                <i class="fas fa-search"></i>
            </a>
            <div class="navbar-search-block">
                <form class="form-inline">
                    <div class="input-group input-group-sm">
                        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                            <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>


        <li class="nav-item">
            <a class="nav-link" data-widget="control-sidebar" data-controlsidebar-slide="true" href="#" role="button">
                <i class="fas fa-th-large"></i>
            </a>
        </li>
    </ul>
</nav>
<!-- /.navbar -->
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="~/Admin/images/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">The News Admin Panel</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/Admin/images/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Admin </a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <!--Authors-->
                <li class="nav-header">Authors</li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-user-tie"></i>
                        <p>
                            Authors
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="AdminAuthors" asp-action="ViewAuthors" class="nav-link">
                                <i class="fas fa-table nav-icon"></i>
                                <p>View Authors List</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="AdminAuthors" asp-action="AddAuthor" class="nav-link">
                                <i class="fas fa-plus nav-icon"></i>
                                <p>Add a New Author</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <!--END OF Authors-->
                <!--News-->
                <li class="nav-header">News</li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-newspaper"></i>
                        <p>
                            News
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="AdminNews" asp-action="ViewNews" class="nav-link">
                                <i class="fas fa-table nav-icon"></i>
                                <p>View News List</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="AdminNews" asp-action="AddNews" class="nav-link">
                                <i class="fas fa-plus nav-icon"></i>
                                <p>Create a News</p>
                            </a>
                        </li>

                    </ul>
                </li>

                <!--END OF News-->
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->


<div class="wrapper">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        @if (Model == null)
                        {
                            <h1>Add a New Author</h1>
                        }
                        else
                        {
                            <h1>Update Author</h1>
                        }

                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            @if (Model == null)
                            {
                                <li class="breadcrumb-item active">Add a New Author</li>
                            }
                            else
                            {
                                <li class="breadcrumb-item active">Update Author</li>
                                <li class="breadcrumb-item active">@Model.Id</li>

                            }

                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="card card-success">
                            <div class="card-header">
                                <h3 class="card-title">Author Form</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form asp-controller="AdminAuthors" asp-action="SaveAuthor" method="post" role="form">
                                <div class="card-body">


                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input asp-for="Name" class="form-control" id="name" placeholder="Authors's Name">
                                        <span class="text-danger" asp-validation-for="Name"></span>
                                    </div>


                                    <input type="hidden" asp-for="Id" />


                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button type="reset" class="btn btn-danger offset-2 col-md-3">Reset</button>
                                    <button type="submit" class="btn btn-success offset-2 col-md-3">Submit</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.card -->


                    </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>